<!DOCTYPE html>
<html  lang="zh-CN">
<head>
	<title>域名助手</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../static/css/reset.css">
	<link rel="stylesheet" href="../static/css/popup.css"/>
	<script type="text/javascript" src="../static/js/jquery.min.js"></script>
	<script type="text/javascript" src="../static/js/settings.js"></script>
</head>
<body>
	<div class="set-main">
		<div class="set-title">
			域名助手 <span class="slide-btn">[切换已添加页]</span>
		</div>
		<div class="set-warp">
			<div class="set-slide">
				<div class="set-left">
					<div class="set-p fn-clear">
						<div class="set-txt">原始域名:(http/https)</div>
						<input type="text" name="" placeholder="字符串" value="" class="set-input input-origin">
						<input type="checkbox" checked="checked" class="set-checkbox" name="" value="">
					</div>
					<div class="set-p">
						<div class="set-txt">替换域名:(http/https)</div>
						<input type="text" placeholder="字符串" checked="checked" name="" value="" class="set-input input-replace">
						<input type="checkbox" checked="checked" class="set-checkbox" name="" value="">
					</div>
					<div class="set-p">
						<div class="set-txt">别名:</div>
						<input type="text" name="" placeholder="字符串" value="" class="set-input input-alias">
					</div>
					<div class="set-p">
						<a href="javascript:;" class="set-btn set-add">添加</a>
						<a href="javascript:;" class="set-btn set-switch">切换</a>
					</div>
				</div>
				<div class="set-right">
					<div class="set-list">
						<ul>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>